<div>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Cell phone</th>
      <th>Gender</th>
      <th>Country</th>
      <th>City</th>
      <th>Street</th>
      <th>Number of the house</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.customer.firstName}}</td>
      <td>{{user.customer.lastName}}</td>
      <td>{{user.customer.cellPhone}}</td>
      <td>{{user.customer.gender}}</td>
      <td>{{user.customer.country}}</td>
      <td>{{user.customer.city}}</td>
      <td>{{user.customer.street}}</td>
      <td>{{user.customer.houseNumber}}</td>
    </tr>
    </tbody>
  </table>
</div>
